
@{
    ViewBag.Title = "GetDetails";
}

<h2>GetDetails</h2>
<h2> Details of Student </h2>

<p>
    ID is : @ViewBag.student.Id <br />
    Name is : @ViewBag.student.Name <br />
    BatchCode is : @ViewBag.student.BatchCode
    Marks are  : @ViewBag.student.Marks
</p>
